/* General styling */
:root {
  --bg-color: #fafafa;
  --text-color: #353935;
  --sidebar-bg: #4682b4;
}

body {
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  box-sizing: border-box;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sidebar-bg);
  overflow-x: hidden;
  transition: width 0.3s ease;
  z-index: 1000;
  padding-top: 30px;
}

.sidebar.open {
  width: 260px;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #fafafa;
  display: block;
  transition: all 0.3s ease;
}
.sidebar a:hover {
  background-color: #ffc857;
  color: #353935;
  transform: translateX(5px);
}
.sidebar .close-btn {
  position: absolute;
  top: -11px;
  right: 0;
  font-size: 36px;
}

#content {
  transition: margin-left 0.5s ease-in-out;
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#content.shift {
  margin-left: 250px;
}

.sidebar-footer {
  margin-top: auto;
  padding: 10px 15px;
  text-align: center;
  color: #fafafa;
}

.sidebar-footer p {
  font-size: 15px;
  margin-bottom: 12px;
}

.sidebar-footer .social-icons i {
  margin: 0 6px;
  font-size: 22px;
  color: #fafafa;
}

.sidebar-footer .social-icons i:hover {
  color: #ffc857;
  cursor: pointer;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  position: fixed;
  top: 0;
  width: 100%;
  height: clamp(50px, 10vw, 100px);
  z-index: 3;
  background-color: #FAFAFA;
}

.top-bar h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

.top-bar i {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.open-btn {
  color: #353935;
  position: absolute;
  left: 12px;
  cursor: pointer;
  background: none;
  border: none;
}

.intro {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-top: clamp(0, 4vw, 20px);
  margin-bottom: clamp(5px, 4vw, 10px);
}

.intro h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

/* Timer area styles */
.box {
  background-color: #f0f0f0;
  padding: clamp(10px, 3vw, 30px);
  border-radius: 15px;
  border: 1px solid #cccccc;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  width: clamp(300px, 80%, 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* General button styles within the timer area */
.box button {
  background-color: #FFC857;
  color: #353935;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: clamp(14px, 2vw, 18px);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 150px;
  text-align: center;
}

/* Button hover effect */
.box button:hover {
  background-color: #FFD700;
  transform: scale(1.07);
}

/* Top and bottom controls layout */
.top-controls, .bottom-controls {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 20px auto;
}

.bottom-controls button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-top: 5px;
  gap: 5px;
}

.bottom-controls button i {
  font-size: 1.2em;
}

/* Specific styles for mode buttons */
.mode-btn {
  flex: 1;
}

/* Active state for each mode */
#work-mode.active {
  background-color: #4682B4; /* Blue for Work mode */
  color: white; /* Text color contrast */
}

#shortBreak-mode.active {
  background-color: #FF6347; /* Red for Short Break mode */
  color: white;
}

#longBreak-mode.active {
  background-color: #32CD32; /* Green for Long Break mode */
  color: white;
}

/* Progress bar styles */
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 15px;
}

.progress-bar-fill {
  width: 0;
  height: 100%;
  background-color: #4682B4;
  border-radius: 5px;
  transition: width 0.3s linear;
}

/* Digital Clock inside timer area */
@font-face {
  font-family: 'DS-DIGI';
  src: url('/assets/fonts/DS-DIGI.TTF') format('truetype');
}

#time {
  font-size: clamp(2.5rem, 10vw, 5rem);
  font-family: 'DS-DIGI', sans-serif;
  color: #4682B4;
  text-align: center;
}

#time.fifteen-minutes-left {
color: #32CD32;
}

/* Five minutes left */
#time.nearing-end { color: #FF6347; }

/* Toggle Switch Styling */
.toggle-switch {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.toggle-switch::before {
  content: '';
  width: 23px;
  height: 23px;
  background-color: #FAFAFA;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: 1px;
  transition: 0.3s;
}

.toggle-switch.active {
  background-color: #4682B4;
}

.toggle-switch.active::before {
  left: 24px;
}

/* General modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex; /* Show modal when class is added */
  opacity: 1;
}

.modal-content {
  background-color: #4682B4;
  color: #FAFAFA;
  padding: 30px;
  font-size: 1rem;
  border: 1px solid #888;
  border-radius: 10px;
  max-width: 300px;
  max-height: 80vh;
  animation: fadeIn 0.5s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal-content label {
  margin-bottom: 8px; /* Space below labels */
}

.modal-content input,
.modal-content textarea,
.modal-content button {
  width: 90%;
}

.modal-content button {
  background-color: #FFC857;
  color: #353935;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 150px;
  text-align: center;
}

.modal-content button:hover {
  background-color: #FFD700;
  transform: scale(1.07);
}

.modal-content a {
  color: #FFC857;
  text-decoration: none;
}

input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.close-btn {
  color: #FAFAFA;
  font-size: 28px;
}

.close-btn:hover {
  color: #FFC857;
}