/* General styling */
:root {
  --bg-color: #fafafa;
  --text-color: #353935;
  --sidebar-bg: #4682b4;
}

body {
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  box-sizing: border-box;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sidebar-bg);
  overflow-x: hidden;
  transition: width 0.3s ease;
  z-index: 1000;
  padding-top: 30px;
}

.sidebar.open {
  width: 260px;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #fafafa;
  display: block;
  transition: all 0.3s ease;
}
.sidebar a:hover {
  background-color: #ffc857;
  color: #353935;
  transform: translateX(5px);
}
.sidebar .close-btn {
  position: absolute;
  top: -11px;
  right: 0;
  font-size: 36px;
}

#content {
  transition: margin-left 0.5s ease-in-out;
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#content.shift {
  margin-left: 250px;
}

.sidebar-footer {
  margin-top: auto;
  padding: 10px 15px;
  text-align: center;
  color: #fafafa;
}

.sidebar-footer p {
  font-size: 15px;
  margin-bottom: 12px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.sidebar-footer .social-icons i {
  margin: 0 6px;
  font-size: 22px;
  color: #fafafa;
}

.sidebar-footer .social-icons i:hover {
  color: #ffc857;
  color: #353935;
  transform: scale(1.07);
  cursor: pointer;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  position: fixed;
  top: 0;
  width: 100%;
  height: clamp(50px, 10vw, 100px);
  z-index: 3;
  background-color: #fafafa;
}

.top-bar h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

.top-bar i {
  font-size: clamp(1.5rem, 4vw, 2.4rem);
}

.open-btn {
  color: #353935;
  position: absolute;
  left: 12px;
  cursor: pointer;
  background: none;
  border: none;
}

.intro {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-top: clamp(0, 4vw, 20px);
  margin-bottom: clamp(5px, 4vw, 10px);
}

.intro h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

/* Timer area styles */
.box {
  background-color: #f0f0f0;
  padding: clamp(10px, 3vw, 30px);
  border-radius: 15px;
  border: 1px solid #cccccc;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  width: clamp(300px, 80%, 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* General button styles within the timer area */
.box button {
  background-color: #ffc857;
  color: #353935;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: clamp(14px, 2vw, 18px);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 150px;
  text-align: center;
}

/* Button hover effect */
.box button:hover {
  background-color: #ffd700;
  transform: scale(1.07);
}

/* Top and bottom controls layout */
.top-controls,
.bottom-controls {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 20px auto;
}

.bottom-controls button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-top: 5px;
  gap: 5px;
}

.bottom-controls button i {
  font-size: 1.2em;
}

/* Specific styles for mode buttons */
.mode-btn {
  flex: 1;
}

/* Active state for each mode */
#work-mode.active {
  background-color: #4682b4; /* Blue for Work mode */
  color: white; /* Text color contrast */
}

#shortBreak-mode.active {
  background-color: #ff6347; /* Red for Short Break mode */
  color: white;
}

#longBreak-mode.active {
  background-color: #32cd32; /* Green for Long Break mode */
  color: white;
}

/* Progress bar styles */
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 15px;
}

.progress-bar-fill {
  width: 0;
  height: 100%;
  background-color: #4682b4;
  border-radius: 5px;
  transition: width 0.3s linear;
}

#time {
  font-size: clamp(2.5rem, 10vw, 5rem);
  font-family: 'Montserrat', sans-serif;
  color: #4682b4;
  text-align: center;
}

#time.fifteen-minutes-left {
  color: #32cd32;
}

/* Five minutes left */
#time.nearing-end {
  color: #ff6347;
}

/* Toggle Switch Styling */
.toggle-switch {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.toggle-switch::before {
  content: "";
  width: 23px;
  height: 23px;
  background-color: #fafafa;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  transition: 0.3s;
}

.toggle-switch.active {
  background-color: #4682b4;
}

.toggle-switch.active::before {
  left: 24px;
}

/* General modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex; /* Show modal when class is added */
  opacity: 1;
}

.modal-content {
  background-color: #4682b4;
  color: #fafafa;
  padding: 30px;
  font-size: 1rem;
  border: 1px solid #888;
  border-radius: 10px;
  max-width: 300px;
  max-height: 80vh;
  animation: fadeIn 0.5s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal-content label {
  margin-bottom: 8px; /* Space below labels */
}

.modal-content input,
.modal-content textarea,
.modal-content button {
  width: 90%;
}

.modal-content button {
  background-color: #ffc857;
  color: #353935;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 150px;
  text-align: center;
}

.modal-content button:hover {
  background-color: #ffd700;
  transform: scale(1.07);
}

.modal-content a {
  color: #ffc857;
  text-decoration: none;
}

input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.close-btn {
  color: #fafafa;
  font-size: 28px;
}

.close-btn:hover {
  color: #ffc857;
}

/* Specific modal styles */
.hidden {
  display: none;
} /* Sign up form hidden by default */

/* General form styling */
.auth-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Center the form horizontally */
}

.auth-form label {
  align-self: flex-start; /* Align labels to the left */
  margin-bottom: 5px;
  font-size: 1rem;
  color: #fafafa;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.auth-form button {
  background-color: #ffc857;
  color: #353935;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.auth-form button:hover {
  background-color: #ffd700;
  transform: scale(1.05);
}

.auth-form p {
  margin-top: 10px;
  color: #fafafa;
}

.auth-form a {
  color: #ffc857;
  text-decoration: none;
}
.auth-form a:hover {
  color: #ffd700;
  text-decoration: underline;
}

#customization-modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#customization-modal label {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #fafafa;
}

#customization-modal input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px; /* Space between input fields */
}

#customization-modal .toggle-switch {
  margin-bottom: 15px; /* Add space between toggle switches */
}

#customization-modal button {
  margin-top: 15px;
}

#contact-modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#contact-modal label {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #fafafa;
}

#contact-modal input,
#contact-modal textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

#contact-modal textarea {
  resize: vertical;
  min-height: 100px;
}

#contact-modal button {
  margin-top: 15px;
}

/* Dark mode styles */
body.dark-mode {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --sidebar-bg: #333;
}

body.dark-mode .top-bar {
  background-color: #121212;
}

body.dark-mode .sidebar a:hover {
  background-color: #1abc9c; /* Teal color for dark mode */
}

body.dark-mode .sidebar-footer .social-icons i:hover {
  color: #1abc9c; /* Teal color for social icons */
}

body.dark-mode .open-btn {
  color: #f0f0f0;
}

body.dark-mode .button:hover {
  background-color: #333;
  color: #f0f0f0;
}

body.dark-mode .progress-bar-fill {
  background-color: #00aaff; /* Darker version for progress bar */
}

body.dark-mode .box {
  background-color: #333;
  border-color: #555;
  color: #f0f0f0;
}

body.dark-mode .box button {
  background-color: #1abc9c; /* Teal button for dark mode */
  color: white; /* Light text */
}

body.dark-mode .button,
.toggle-switch {
  background-color: #555;
  color: #fff;
}

body.dark-mode .progress-bar-fill {
  background-color: #00aaff; /* Blue color for progress bar */
}

body.dark-mode .modal-content {
  background-color: #333;
  color: #f0f0f0;
}

body.dark-mode .modal-content {
  background-color: #333;
  color: #e0e0e0;
}

body.dark-mode .close-btn:hover {
  color: #1abc9c;
}

body.dark-mode .auth-form button,
body.dark-mode #save-btn,
body.dark-mode .modal-content button {
  background-color: #1abc9c; /* Teal button for dark mode */
  color: #ffffff; /* Light text */
}

body.dark-mode .auth-form button:hover,
body.dark-mode #save-btn:hover,
body.dark-mode .modal-content button:hover {
  background-color: #16a085; /* Darker teal on hover */
}

.body.dark-mode .auth-form a,
body.dark-mode .modal-content a {
  color: #1abc9c;
}

/* Media queries */
@media (max-width: 768px) {
  .sidebar {
    width: 0;
  }

  #content.shift {
    margin-left: 250px;
  }

  .top-bar {
    padding: 10px;
  }

  .modal-content {
    width: 90%; /* Adjust modal size */
  }
}

@media (min-width: 500px) {
  .top-controls,
  .bottom-controls {
    gap: 35px;
  }
}

@media (min-width: 768px) {
  .modal-content {
    max-width: 400px; /* Increase width slightly for larger screens */
  }

  /* Style for larger screens */
  .toggle-switch {
    background-color: #555;
}
}

/* Media query for larger screens (laptops/desktops) */
@media (min-width: 1024px) {
  .intro {
    padding-top: 45px;
  }
}
